# ========================================================
# ARCHIVO DE CONFIGURACIÓN DE CREDENCIALES: RAFA MUSIC PRO
# Desarrollado por Rafa
# ========================================================

# Pega aquí el Token de tu bot de Discord (Obtenlo en Discord Developer Portal > Bot > Reset Token)
DISCORD_TOKEN=TU_DISCORD_TOKEN_AQUI

# Pega aquí el Application ID (Client ID) de tu bot (En Discord Developer Portal > General Information > Application ID)
# Esto sirve para generar automáticamente el enlace de invitación para agregarlo a cualquier servidor.
CLIENT_ID=TU_CLIENT_ID_AQUI
